*{
  font-family: "Fira Sans", serif;
}

/* header style */
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title{
  font-family: "Fira Sans", serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  margin: 31px 1218px 31px 160px;
}
.btn-header{
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: white;
  margin: 24px 160px 24px auto;
  cursor: pointer;
}

/* hero section style */
#hero{
  background-color: #C6E4D6;
  border-radius: 24px;
  margin: 160px;
  margin-top: 0px;
  display: flex;
  gap: 64px;
}

.hero-info{
  margin: 117px auto 117px 59.99px;
}
.hero-subtitle{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.hero-title{
  font-size: 56px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 24px;
}

.btn-hero{
  background-color: #006A50;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.hero-img{
  margin: 80px 59.99px 80px auto;
}